rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      // Allow users to create their own document and read the user list.
      allow create, list: if request.auth != null;

      // Allow users to read, update, and delete their own data.
      allow read, delete: if request.auth.uid == userId;

      // Allow updates on a user's own document.
      // Also, allow updates on another user's document ONLY for 'likes' and 'gold' fields.
      allow update: if request.auth.uid == userId || 
                    (request.resource.data.diff(resource.data).affectedKeys().hasOnly(['likes', 'gold']));
    }
  }
}
